.local-weather {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e0e0e0;
  height: fit-content;
  width: 600px;
}

.lw-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lw-loc {
  font-size: 50px;
}

.lw-city {
  font-size: 40px;
  margin-left: 10px;
  font-weight: bold;
}

.lw-icon {
  height: 100px;
  width: 100px;
  margin-left: 20px;
}

.lw-temp {
  font-size: 50px;
  margin-left: 20px;
}

.lw-desc {
  font-size: 30px;
  margin-left: 20px;
}

.lw-time {
  font-size: 30px;
  margin-left: auto;
  font-weight: bold;
}

.search-city {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #e0e0e0;
  height: fit-content;
  width: 620px;
  justify-content: space-between;
}

.search-city input {
  font-size: 20px;
  border-radius: 5px;
  width: 90%;
  padding: 3px;
  border: none;
  outline: none;
}

.search-city button {
  font-size: 20px;
  border-radius: 5px;
  padding: 3px;
  width: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}