:root {
    --sidenav-width: 0px;
}

html, body {
    overflow: hidden;
}

body {
    /*background-image: url("https://picsum.photos/2560/1440");*/
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% - var(--sidenav-width));
    height: calc(100% - 70px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .5s;
}

.aria-inactive {
    pointer-events: none;
}

.aria-inactive * {
    color: grey !important;
}
