.sidenav {
    width: 250px;
    position: absolute;
    top: 70px;
    left: -250px;
    height: calc(100% - 70px);
    background: #005193;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    transition: .5s;
}

.sidenav summary {
    cursor: pointer;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-bottom: 4px solid #215e89;
}

.sidenav a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    border-bottom: 2px solid #215e89;
}

.sidenav a:hover {
    background: #215e89;
}

.sidenav-s1 summary {
    padding-left: 20px;
}

.sidenav-s1 a {
    padding-left: 40px;
}

.sidenav-links {
    max-height: calc(100% - 104px);
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.sidenav-links::-webkit-scrollbar {
    display: none;
}

.sidenav-useraction {
    border-top: 4px solid #215e89;
    margin-top: auto;
}

.sidenav-useraction li:last-child a {
    border-bottom: none;
}

.open {
    margin-left: 250px;
}