.user-action{
    min-width: 250px;
padding: 20px;
border: #FEC700 2px solid;
background-color: #005193;
        color: white;
}

.ua-row{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
.row{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.row input{
    background-color: #FEC700;
    padding: 3px;
    cursor: pointer ;
}
.row a{
    color: #FEC700;
    font-size: 15px;
}
.ua-row label{
    font-size: 14px;
}

.titel{
    align-items: center;
    display: flex;
    flex-direction:column;
}