.local-weather {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e0e0e0;
  height: fit-content;
  width: 600px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

.lw-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lw-loc {
  font-size: 50px;
}

.lw-city {
  font-size: 40px;
  margin-left: 10px;
  font-weight: bold;
}

.lw-local {
  font-size: 20px;
  margin-left: auto;
}

.lw-icon {
  height: 100px;
  width: 100px;
  margin-left: 20px;
}

.lw-temp {
  font-size: 50px;
  margin-left: 20px;
}

.lw-desc {
  font-size: 30px;
  margin-left: 20px;
}

.lw-time {
  font-size: 30px;
  margin-left: auto;
  font-weight: bold;
}

.links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e0e0e0;
  height: fit-content;
  width: 600px;
  justify-content: space-around;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

.links-container a {
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: #000;
}

.links-container a:hover {
  color: #000;
  text-decoration: underline;
}

.search-city {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #e0e0e0;
  height: fit-content;
  width: 620px;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

.search-city input {
  font-size: 20px;
  border-radius: 5px;
  width: 90%;
  padding: 3px;
  border: none;
  outline: none;
}

.search-city button {
  font-size: 20px;
  border-radius: 5px;
  padding: 3px;
  width: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}

.fav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e0e0e0;
  height: fit-content;
  width: 800px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

.fav-container h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.fav-container .fav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e0e0e0;
  height: fit-content;
  width: 600px;
  justify-content: space-between;
}

.hf-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e0e0e0;
  height: fit-content;
  width: 600px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.hf-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background-color: #b5b5b5;
  height: fit-content;
}

.hf-icon {
  height: 50px;
  width: 50px;
  margin-left: 20px;
}

.hf-temp {
  font-size: 25px;
  margin-left: 30px;
  width: 90px;
  text-align: right;
}

.hf-desc {
  font-size: 15px;
  margin-left: 40px;
}

.hf-time {
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
  width: 40px;
}

.hf-date {
  margin-left: 2px;
  margin-top: 4px;
}

.df-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e0e0e0;
  height: fit-content;
  width: 600px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.df-row {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background-color: #b5b5b5;
  height: fit-content;
}

.df-row > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.df-time {
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
  width: 80px;
}

.df-icon {
  height: 80px;
  width: 80px;
}

.df-desc {
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.df-temp {
  font-size: 20px;
  width: 90px;
  text-align: right;
}

.pollution-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

@media (max-height: 1150px) {
  .pollution-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.pollution-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e0e0e0;
  height: fit-content;
  width: 250px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

.pollution-card-value {
  font-size: 20px;
}

.pollution-card-unit {
  font-size: 15px;
  margin-left: 5px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #005193 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #005193;
  border-radius: 10px;
  border: 3px solid #ffffff;
}